body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pic {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-width {
  width:500px;
  text-align:center;
}

.form-control {
  padding: 1rem;
  margin: .5rem;
  font-size: 1rem !important;
  width: 100%;
}

.userMsg {
  height: 40px;
  padding: .7rem;
}

.bidding-history {
  width: 40%;
}

.floatleft {
  float: left;
  padding: .2rem;
}

.padding {
  padding: .2rem;
}

.bid {
  border: solid;
  border-color: lightgray;
  margin: 2px;
}

.placebid {
  margin-left: 50%;
  width: 100%;
}

.placebid-msg {
  padding: 1rem;
}